@import "tailwindcss";

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.input_field {
  @apply border border-gray-400 p-2 px-3 text-black rounded-lg;
}

.submit_btn {
  @apply bg-blue-400 rounded-lg p-3 cursor-pointer;
}